﻿/*
    Light
*/
@font-face {
    font-family: 'Omnes';
    src: url('/_Assets/Fonts/Omnes-Light.otf') format('opentype');
    font-weight: 300;
	font-style: normal;
}
@font-face {
    font-family: 'Omnes';
    src: url('/_Assets/Fonts/Omnes-LightItalic.otf') format('opentype');
    font-weight: 300;
	font-style: italic;
}
/*
    Regular
*/
@font-face {
    font-family: 'Omnes';
    src: url('/_Assets/Fonts/Omnes-Regular.otf') format('opentype');
    font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'Omnes';
    src: url('/_Assets/Fonts/Omnes-RegularItalic.otf') format('opentype');
    font-weight: normal;
	font-style: italic;
}
/*
    600
*/
@font-face {
    font-family: 'Omnes';
    src: url('/_Assets/Fonts/Omnes-Semibold.otf') format('opentype');
    font-weight: 600;
	font-style: normal;
}
@font-face {
    font-family: 'Omnes';
    src: url('/_Assets/Fonts/Omnes-SemiboldItalic.otf') format('opentype');
    font-weight: 600;
	font-style: italic;
}
/*
    Bold
*/
@font-face {
    font-family: 'Omnes';
    src: url('/_Assets/Fonts/Omnes-Bold.otf') format('opentype');
    font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'Omnes';
    src: url('/_Assets/Fonts/Omnes-BoldItalic.otf') format('opentype');
    font-weight: bold;
	font-style: italic;
}



@font-face {
    font-family: 'icomoon';
    src: url('/_Assets/Fonts/icomoon.eot');
    src: url('/_Assets/Fonts/icomoon.eot?#iefix') format('embedded-opentype'),
         url('/_Assets/Fonts/icomoon.woff') format('woff'),
         url('/_Assets/Fonts/icomoon.ttf') format('truetype'),
         url('/_Assets/Fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;

}