﻿.icon {
    position: relative;
    /* top: 1px; */
    display: inline-block;
    font-family: 'icomoon';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icon-office:before {
    content: "\e732";
}

.icon-plus:before{
    content: "\e604";
}
.icon-minus:before{
    content: "\e603";
}