﻿/* [FULL SCREEN SPINNER] */
#loading-back,
#loading-front {
    position: fixed;
    width: 100vw;
    transition: all 1s;
    visibility: hidden;
    opacity: 0;
}

#loading-back {
    z-index: 998;
    height: 100vh;
    background: #ffffff;
}

#loading-front {
    z-index: 999;
    color: #333333;
    text-align: center;
    margin-top: 50vh;
    transform: translateY(-50%);
}

    #loading-back.show,
    #loading-front.show {
        visibility: visible;
        opacity: 1;
    }

    #loading-front .loading {
        display: block;
        font-size: 32px;
    }

/* [DOES NOT QUITE MATTER] */
html,
body {
    margin: 0;
    padding: 0;
}

.my-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.text-size-28 {
    font-size: 28px;
}

.text-size-20 {
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.text-ph-blue {
    color: #00b3bc;
}

.text-ph-green {
    color: #95c11f;
}

.text-ph-yellow {
    color: #fbba00;
}

.text-ph-orange {
    color: #ef7d00;
}

.text-ph-magenta {
    color: #e83273;
}

.mw-475 {
    max-width: 475px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    ul li {
    }


.gly-spin {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}
/*
    Buttons
*/
.btn-ph-blue {
    color: #fff !important;
    background-color: #00b3bc !important;
    border-color: #00b3bc !important;
}

    .btn-ph-blue:hover {
        background-color: #007b88 !important;
        border-color: #007b88 !important;
    }

.copy-tooltip {
    position: relative;
}

    .copy-tooltip .tooltiptext {
        visibility: hidden;
        width: 140px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -75px;
        opacity: 0;
        transition: opacity 0.3s;
    }

        .copy-tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

    .copy-tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
