﻿.sor-code-list {

}
    .sor-code-list .list-group-item {
        padding:0;
    }
    .sor-code-list li .btn {
        height: 90%;
        margin: 0;
        text-align: left;
        font-size: 16px;
        display: inline-block;
        padding: 10px 15px;
        position: relative;
    }
        .sor-code-list li .btn:hover, .sor-code-list li .btn.active {
            color: #fff;
            background-color: #eea400 !important;
            border-color: #eea400 !important;
        }

            .sor-code-list li .btn.active i {
                position: absolute;
                top: 50%;
                right: 25px;
                margin-top: -10px;
                font-size: 21px;
                z-index: 100;
                display: block;
            }

        .sor-code-list li .btn:not(.active) i {
            display: none;
        }



#selected-sor-code {
    background-color: #eea400 !important;
    border-color: #eea400 !important;
}


/*
    Search
*/

.sor-filter{
    
}

    .sor-filter .label-button {
        cursor: default !important;
        pointer-events: none;
    }
        .sor-filter .label-button:hover {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }


.bootstrap-tagsinput{
    line-height:34px !important;
}
    .bootstrap-tagsinput .tag {
        font-size: 100% !important;
        font-weight: normal !important;
    }

.twitter-typeahead {
    display:inline;
    width: 350px;
    max-width: 50% !important;
}

@media screen and (max-width: 568px) {
    .twitter-typeahead {
        width: 100% !important;
    }
}

.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */


.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999;
    max-width: 100% !important;
}
.tt-input {
    width: 100% !important;
    max-width: 100% !important;
}


.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

    .tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
        color: #fff;
        background-color: #0097cf;
    }

    .tt-suggestion p {
        margin: 0;
    }


#form-repairs-have-you-tried .modal-body{
    padding:15px 25px;
}