﻿/*
 * This is the table that shows default availability for doctors
 */

.availability-table {
    border: none;
}

    .availability-table thead th:first-child {
        pointer-events: none;
        background: white;
        border: none;
    }

    .availability-table td {
        vertical-align: middle !important;
        text-align:center;
    }

    .availability-table th {
        text-align: center;
        background: white;
    }




