html, body {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Omnes",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4285;
    color: #333333;
}


.btn-primary {
    color: #fff !important;
    background-color: #00b3bc !important;
    border-color: #00b3bc !important;
}
    .btn-primary:hover {
        background-color: #007b88 !important;
        border-color: #007b88 !important;
    }



textarea {
    resize: none;
}

#home-notices-heading, #home-notices, #home-surveys-heading, #home-surveys {
    display:none;
}

.g-recaptcha{
    display:none;
    text-align:center;
}
    .g-recaptcha > div {
        height: auto !important;
        display: inline-block !important;
    }

#nav-rent, #nav-service-charges{
    display:none;
}
.h1, h1 {
    font-size: 2.571em;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 3px;
    margin-bottom: 19px;
}

.pointer{
    cursor:pointer;
}

.element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px,1px,1px,1px);
    overflow: hidden;
    height: 1px;
}

.WithPadding{
    padding:15px;
}
.NoPadding{
    padding:0px !important;
}

img {
    vertical-align: middle;
}

.container {
    width: 100%;
    max-width: 1226px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.text-center {
    text-align: center;
}

.block{
    display:inline-block;
    width:100%;
}

.no_top_margin {
    margin-top: 0;
}
.no_bottom_margin {
    margin-bottom: 0;
}
.margin-top-3{
    margin-top:3px;
}
.page_header_extra_button{
    margin-top:4px;
    margin-left:15px;
    display:none;
}
.page_header_extra_a{
    margin-top:4px;
    margin-left:15px;
}

.pagination{
    margin:0;
}
.pagination > li > a {
    cursor:pointer;
}

.pagination-previous-set, .pagination-next-set{
    cursor:pointer;
}

.top-bottom-buffer { margin-top:15px;margin-bottom:15px; }
.filter-panel{
    display:none;
}

.request-button{
    min-height:110px;
}
    .request-button .request-label {
        white-space: normal;
        font-size:0.857em;
        display:block;
    }
    .request-button .icon-100 {
        font-size: 1.5vw;
    }

    .request-button img {
        width: 80px;
    }

.request-sub-button{
    min-height:110px;
}
    .request-sub-button .request-label {
        white-space: normal;
        font-size: 0.857em;
        display: block;
    }
    .request-sub-button .icon-100 {
        font-size: 1.5vw;
    }
    #requests-Confirmation{
        display:none;
    }
#request-repair{
    display:none;
}
.col.has-error .request-button{
    border:1px solid #ff0000;
}
#repairs-Confirmation{
    display:none;
}
.search-panel .dropdown-menu a{
    cursor:pointer;
}
.filter-controls{
    margin-bottom:0;
}
.ui-datepicker{
    background:#ffffff;
    z-index:99999 !important;
}
.datepicker{
    border-radius:0 !important;
}
    .datepicker:nth-child(2) {
        border-left: 0 none;
    }
.date_range{
    width:50% !important;

}

#account-list {
    margin-top: 4px;
}

#requests-stage-one, #requests-stage-two, #requests-stage-three, #requests-stage-submit {
    display: none;
}
#logout-link{
    cursor:pointer;
}

#forgot-password-message{
    display:none;
}
#password-reset-response{
    display:none;
}

.make_relative{
    position:relative;
}

#pswd_info {
    position:absolute;
    top: 65px;
    top: 115px\9; /* IE Specific */
    right:0;
    width:100%;
    padding:15px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
    z-index:999;
}
    #pswd_info ul, #pswd_info li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    #pswd_info h4 {
        margin: 0 0 10px 0;
        padding: 0;
        font-weight: normal;
    }

    #pswd_info::before {
        content: "\25B2";
        position: absolute;
        top: -12px;
        left: 50%;
        font-size: 14px;
        line-height: 14px;
        color: #ddd;
        text-shadow: none;
        display: block;
    }

.invalid {
    background: url('/_Assets/Images/Icons/task-failure.png') no-repeat 0 50%;
    padding-left: 22px !important;
    line-height: 24px;
    color: #ec3f41;
}
.valid {
    background:url('/_Assets/Images/Icons/task-complete.png') no-repeat 0 50%;
    padding-left:22px !important;
    line-height:24px;
    color:#3a7d34;
}

#pswd_info {
    display:none;
}

.bootstrap-tagsinput input{
    height:100%;
}
.bootstrap-tagsinput input.tt-input{
    vertical-align:baseline !important;
}
/*
    Switch
*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

    /* Hide default HTML checkbox */
    .switch input {
        display: none;
    }

/* The slider */
.slider:not(.slider-horizontal) {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:not(.slider-horizontal):before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

.slider-tick.in-selection {
    background: #00b3bc !important;
}
.slider-selection.tick-slider-selection {
    background-color: #00b3bc !important;
}

input:checked + .slider:not(.slider-horizontal) {
    background-color: #00b3bc;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00b3bc;
}

input:checked + .slider:not(.slider-horizontal):before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider:not(.slider-horizontal).round {
    border-radius: 34px;
}

    .slider:not(.slider-horizontal).round:before {
        border-radius: 50%;
    }




/*
    Alerts
*/
.ph-alert-danger {
    margin: 0 -15px;
    border-radius: 0;
    text-align: center;
    height: 64px;
    display: block;
    padding: 10px;
    position: relative;
}
.ph-alert-danger span{
    max-width:1024px;
    width:100%;
    display:block;
    margin:0 auto;
    line-height:40px;
}
.ph-alert-danger strong{
    margin-right:5px;
}
.ph-alert-danger input{
    position:absolute;
    top:15px;
    right: 20px;
    color:#ffffff;
    background:#a94442;
    border:1px solid #a94442;
    padding:5px 15px;
}

.ph-alert-warning{
    margin-top:15px;
    margin-bottom:0;
    text-align:center;
    display:block;
    padding:10px;
    position:relative;
}
.ph-alert-warning span{
    width:100%;
    display:block;
    margin:0 0 10px;
}
.ph-alert-warning strong{
    margin-right:5px;
    display:block;
}
.ph-alert-warning input{
    color:#ffffff;
    background:#8a6d3b;
    border:1px solid #8a6d3b;
    padding:5px 15px;
}

.ph-alert-info{
    margin-bottom:0;
    text-align:center;
    display:block;
    position:relative;
}
.ph-alert-info span{
    width:100%;
    display:block;
    margin:0 0 10px;
}
.ph-alert-info strong{
    margin-right:5px;
    display:block;
}
.ph-alert-info input{
    color:#ffffff;
    background:#007b88;
    border:1px solid #007b88;
    padding:5px 15px;
}




#footer-bottom {
    height: 150px;
    border-top: 1px solid #c6c6c6;
    background: url("/_Assets/Images/line.svg") no-repeat center bottom;
    background-size: 102%;
    margin-bottom: 30px;
}

footer #footer-top {
    min-height: 145px;
    margin-bottom: 30px;
    padding-top: 50px;
}
    footer .column {
        border-right: 1px solid #c6c6c6;
        height: 150px;
        vertical-align: top;
        text-align: left;
    }
    footer :last-child.column {
        border-right: none;
    }

    footer .column p, footer .column span, footer .column a {
        color: #57555b;
        font-size: 1.071em;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        margin: 0;
    }
    footer .column h2 {
        color: #57555b;
        font-size: 1.071em;
        font-weight: 600;
        text-align: left;
        margin: 0 0 15px;
        text-transform: uppercase;
    }

footer .socal_icon{
    display: inline-block;
    margin-right: 30px !important;
    margin-top: 30px !important;
    text-indent: 9999px;
    overflow: hidden;
    width: 51px;
    height: 51px;
}
    footer .socal_icon:last-child {
        margin-right: 0 !important;
    }


.facebook {
    background: url('/_Assets/Images/Icons/fb.svg') no-repeat top left/contain;
}
.twitter {
    background: url('/_Assets/Images/Icons/twitter.svg') no-repeat top left/contain;
}
.linkedin {
    background: url('/_Assets/Images/Icons/linked_in.svg') no-repeat top left/contain;
}


.font-size{
    display: inline-block;
    /*bottom: 10px;*/
    position: relative;
    width:50px;
    line-height:12px;

}
    .font-size i {
        cursor: pointer;
        font-size: 20px;
    }
    .font-size a {
        cursor: pointer;
        display:inline-block;
        font-size:14px;
        color:#57595b;

    }
.font-size small{
    cursor:pointer;
    font-size:12px;
}

.mobile-font-size{
    display: none;
    color:#ffffff;
    bottom: 0;
    padding:12px 10px;
}


#footer-menu {
    padding-left: 0px;
    width: 100%;
    text-align: center;
    margin: 25px 0 25px;
}

    #footer-menu li {
        display: inline-block;
        padding: 0 20px;
    }
    #footer-menu li a{
        color:#57555b;
    }

.logo-bottom {
    width: 100%;
    display: inline-block;
    text-align: center;
}





.table > tbody > tr > td {
    vertical-align: middle;
}

header {
}

    header .lead-menu {
        background: #fafafc;
        border-bottom: 1px solid #e2e2e2;
        height: 57px;
    }

    header .logo {
        padding: 31px 0;
        text-align: center;
        float: left;
    }

        header .logo .logo_url {
            color: #337ab7;
            text-decoration: none;
            line-height: 19.99px;
            text-align: center;
        }
        header .logo .logo_url img {
            width:100%;
            max-width:388px;
        }

/* Main Menu
****************************************************************/

header .auth-block {
    text-align: left;
    min-width: 150px;
    display: inline-block;
    position: relative;
    bottom: 10px;
}
header .auth-block .links {
    margin-top: 4px;
}
    header .auth-block .links, header .auth-block .user-logout-block {
        display: none;
    }
    header .auth-block p {
        margin: 0;
        /*font-size: 0.857em;*/
        font-size:12px;
        font-weight: 600;
        text-align: left;
        color: #b1b1b1;
    }
        header .auth-block p a {
            margin: 0;
            color: #57595b;
            font-size: 0.857em;
            font-weight: 600;
            text-align: left;
        }

        header .auth-block p a img {
            max-width: 30px;
            vertical-align: middle;
        }

header #main-menu {
    display: inline-block;
    position: relative;
    bottom: 10px;
    margin: 0 85px;
}
    header #main-menu ul {
        margin-top: 0;
        margin-bottom: 10px;
        padding-left: 0;
        
    }
        header #main-menu ul li {
            display: inline-block;
            margin-left: 10px;
            padding: 0 17px;
        }
            header #main-menu ul li:first-child {
                padding-left: 10px;
            }
            header #main-menu ul li a {
                color: #57595b;
                /*font-size: 0.857em;*/
                font-size:12px;
                font-weight: 600;
                text-align: left;
                text-decoration: none;
            }

    header .region.region-header {
        display: inline-block;
    }
        header .region.region-header .content {
            min-width: 190px;
            padding-top: 10px;
        }
            header .region.region-header .content:before {
                content: '';
                display: inline-block;
                height: 35px;
                width: 35px;
                margin-right: 5px;
                background: url('/_Assets/Images/Icons/search_icon.svg') no-repeat center center;
            }
            header .region.region-header .content .search-form {
                margin-bottom: 0;
                display: inline-block;
                position: relative;
                bottom: 10px;
            }
                header .region.region-header .content .search-form .form-actions,
                header .region.region-header .content .search-form .form-item {
                    margin: 0;
                    display: inline;
                }
                header .region.region-header .content .search-form .form-actions {
                    margin-top: 10px;
                }
                header .region.region-header .content .search-form .form-type-textfield input {
                    border: none;
                    background: transparent;
                    color: #57595b !important;
                    /*font-size: 0.857em;*/
                    font-size:12px;
                    font-weight: 600;
                    text-align: left;
                    margin-top: 6px;
                    width: 75px;
                }
                    header .region.region-header .content .search-form .form-type-textfield input:focus {
                        outline: none;
                    }

                header .region.region-header .content .search-form .form-actions input[type=submit] {
                    border: none;
                    height: 18px;
                    width: 18px;
                    background: url('/_Assets/Images/arrow_grey.svg') no-repeat center center/contain;
                    text-indent: -9999px;
                    overflow: hidden;
                    margin-top: 8px;
                    font-size:14px;
                }

/* Second Menu
****************************************************************/

.secondary-menu {
    background: #45444A;
    float: left;
    text-align: center;
    border-radius: 0px;
    margin-bottom:0 !important;
}

    .secondary-menu .navbar-nav {
        padding: 2px;
        margin: 7px auto 0;
        display:table;
        float:none;
    }

        .secondary-menu .navbar-nav li {
            padding-right: 29px;
            position: static;
            text-align: center;
            display:table-cell;
        }

            .secondary-menu .navbar-nav li a {
                padding-right: 29px;
                position: static;
                text-align: center;
                color: #ffffff;
                font-size: 1.571em;
                font-weight: 600;
                line-height: 22.12px;
                left: auto;
                padding: 8px 15px 16px;
                text-transform: capitalize;
                background-color: transparent !important;
                position: relative;
                text-align: center;
            }


            .secondary-menu .navbar-nav li:nth-child(1) a.active,
            .secondary-menu .navbar-nav li:nth-child(1) a:hover {
                color: #00b3bc;
            }

            .secondary-menu .navbar-nav li:nth-child(2) a.active,
            .secondary-menu .navbar-nav li:nth-child(2) a:hover {
                color: #95c11f;
            }

            .secondary-menu .navbar-nav li:nth-child(3) a.active,
            .secondary-menu .navbar-nav li:nth-child(3) a:hover {
                color: #ef7d00;
            }

            .secondary-menu .navbar-nav li:nth-child(4) a.active,
            .secondary-menu .navbar-nav li:nth-child(4) a:hover {
                color: #fbba00;
            }

            .secondary-menu .navbar-nav li:nth-child(5) a.active,
            .secondary-menu .navbar-nav li:nth-child(5) a:hover {
                color: #e83273;
            }

            .secondary-menu .navbar-nav li:nth-child(6) a.active,
            .secondary-menu .navbar-nav li:nth-child(6) a:hover {
                color: #00b3bc;
            }

            .secondary-menu .navbar-nav li:nth-child(7) a.active,
            .secondary-menu .navbar-nav li:nth-child(7) a:hover {
                color: #95c11f;
            }

.navbar-toggle .icon-bar{
    background-color:#ffffff;
}
.main-container {
    background: #efefef url("/_Assets/Images/back.svg") no-repeat center bottom/100% 89px;
    padding-bottom: 89px;
    min-height: 500px;
}

.breadcrumb:not(.repair-breadcrumb) {
    padding: 8px 0;
    margin-bottom: 20px;
    border-bottom: 1px solid #c6c6c6;
    background-color: transparent;
}

    .breadcrumb a {
        color: #57555b;
        font-weight: 600;
        font-size: 0.857em;
    }

.repair-breadcrumb {
    display: none;
    background: #eea400;
    color:#ffffff;
}
/* Poss / Neg
****************************************************************/
.positive {
    color: #569204;
}

    .positive i {
        font-size: 0.643em;
        top: -1px !important;
    }

.negative {
    color: #d30934 !important;
}

    .negative i {
        font-size: 0.643em;
        top: -1px !important;
    }


/* Right Menu
****************************************************************/

.right_bar {
    border: 1px solid #dddddd;
    margin-top: 20px;
}

    .right_bar:first-child {
        margin-top: 0;
    }

    .right_bar .right_box_header {
        background-color: #00b3bc;
        padding: 10px 0;
    }

        .right_bar .right_box_header i {
            font-size: 2.286em;
            color: #ffffff;
            margin: 4px auto 0;
        }

        .right_bar .right_box_header span {
            color: #ffffff;
            font-weight: 600;
        }

        .right_bar .right_box_header a {
            color: #ffffff;
            text-align: center;
        }

    .right_bar .list-group {
        margin: 0;
    }
        .right_bar .list-group .list-group-item:last-child {
            padding-right: 30px;
            padding-left: 30px;
        }
        .right_bar .list-group .list-group-item .radio {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .right_bar .result_item{
            background:#ffffff;
            padding-top: 15px;
        }

/*
    Tabs
*/
    .nav-tabs li a {
        cursor:pointer;
    }

    .nav-tabs li .icon-tab {
        position: relative !important;
        padding-right: 36px !important;
    }

        .nav-tabs li .icon-tab i {
            font-size: 18px;
            line-height: 35px;
            position: absolute;
            top: 0;
            right: 10px;
            color: #e83273 !important;
        }


        .nav-tabs li.active .icon-tab i {
            color: #ffffff !important;
        }

        

/*
    Summaries
*/

.summary{
    padding:0 5px;
}
    .summary .info-circle {
        width: 80%;
        margin:0 auto;
    }
        .summary .info-circle:after {
            content: "";
            display: block;
            width: 100%;
            height: 0;
            padding-bottom: 100%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
            border-radius: 50%;
        }
        .summary .info-circle div {
            font-size:38px;
            float: left;
            width: 100%;
            padding-top: 50%;
            line-height: 1em;
            margin-top: -0.5em;
            text-align: center;
            color: white;
        }
        .summary .info-circle div small {
            font-size: 12px;
            display:block;
            padding:0 10px;
            line-height:12px;
        }

    .summary .text-line {
        width: 100%;
        line-height:30px;
        font-size:21px;
        text-align:center;
    }

    .summary a {
        border:0px none;
        color:#ffffff !important;
    }
    .summary a {
        background: url(/_Assets/Images/arrow_big_white.svg);
        background-repeat:no-repeat;
        background-position:95% 50%;
        background-size:20px;
    }

    .summary.blue .text-line {
        color:#00b3bc;
    }
    .summary.blue .info-circle:after {
        background-color:#00b3bc;
    }
    .summary.blue a {
        background-color:#00b3bc;
    }
        .summary.blue a:nth-child(2n) {
            background-color: #007b88;
        }

    .summary.green .text-line {
        color:#95c11f;
    }
    .summary.green .info-circle:after {
        background-color:#95c11f;
    }
    .summary.green a {
        background-color:#95c11f;
    }
        .summary.green a:nth-child(2n) {
            background-color: #569204;
        }

    .summary.yellow .text-line {
        color:#fbba00;
    }
    .summary.yellow .info-circle:after {
        background-color:#fbba00;
    }
    .summary.yellow a {
        background-color:#fbba00;
    }
        .summary.yellow a:nth-child(2n) {
            background-color: #eda400;
        }

    .summary.orange .text-line {
        color:#ef7d00;
    }
    .summary.orange .info-circle:after {
        background-color:#ef7d00;
    }
    .summary.orange a {
        background-color:#ef7d00;
    }
        .summary.orange a:nth-child(2n) {
            background-color: #e95a00;
        }

    .summary.pink .text-line {
        color:#e83273;
    }
    .summary.pink .info-circle:after {
        background-color:#e83273;
    }
    .summary.pink a {
        background-color:#e83273;
    }
        .summary.pink a:nth-child(2n) {
            background-color: #d30934;
        }

    .summary .summary-top.negative .text-line {
        color: #ff0000;
    }
    .summary .summary-top.negative .info-circle:after {
        background-color: #ff0000;
    }

/*
    Widgets
*/

.info-widget {
    display: inline-block;
    width: 100%;
    margin: 20px 0 0 0;
}

    .info-widget .item {
        display: block;
        width: 100%;
        padding: 19px 22px;
        position: relative;
        text-decoration: none;
    }

        .info-widget .item h2 {
            color: white !important;
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
            position: relative;
            margin: 0;
            /*word-wrap: break-word;*/
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

            .info-widget .item h2:before {
                font-size: 16px;
                position: relative;
                top: 3px;
                padding-right: 15px;
                font-family: 'Glyphicons Halflings';
            }

            .info-widget .item h2.Block {
                white-space: normal;
            }

        .info-widget .item.phone h2:before {
            content: "\e182";
        }

        .info-widget .item.email h2:before {
            content: "\2709";
        }

        .info-widget .item.internet h2:before {
            content: "\e135";
        }

        .info-widget .item.post h2:before {
            content: "\e021";
        }

        .info-widget .item.pay h2:before {
            content: "\e149";
        }

        .info-widget .item.repair h2:before {
            content: "\e136";
        }

        .info-widget .item.letter h2:before {
            content: "\2709";
        }

        .info-widget .item.download h2:before {
            font-family: 'icomoon';
            content: "\e9db";
        }

        .info-widget .item.card h2:before {
            content: "\e177";
        }

        .info-widget .item.calendar h2:before {
            content: "\e109";
        }

        .info-widget .item.documents h2:before {
            content: "\e224";
        }


        .info-widget .item.view h2:before {
            font-family: 'icomoon';
            content: "\e125";
        }
        .info-widget .item.cog h2:before {
            font-family: 'icomoon';
            content: "\e7bf";
        }

    .info-widget.blue .item {
        background: #00b3bc;
    }

        .info-widget.blue .item:nth-child(2n) {
            background: #007b88;
        }

    .info-widget.green .item {
        background: #95c11f;
    }

        .info-widget.green .item:nth-child(2n) {
            background: #569204;
        }

    .info-widget.orange .item {
        background: #ef7d00;
    }

        .info-widget.orange .item:nth-child(2n) {
            background: #e95a00;
        }

    .info-widget.yellow .item {
        background: #fbba00;
    }

        .info-widget.yellow .item:nth-child(2n) {
            background: #eea400;
        }

    .info-widget.magenta .item {
        background: #e83273;
    }

        .info-widget.magenta .item:nth-child(2n) {
            background: #d30934;
        }

    .info-widget .item.Disabled {
        background: #57555b !important;
        cursor: no-drop !important;
    }

    .info-widget .item.Editable .edit-button {
        background-color: rgba(255, 255, 255, 0.2);
        width: 50px;
        position: absolute;
        display: none;
        top: 0;
        bottom: 0;
        right: 0;
        cursor: pointer;
        z-index: 999;
    }

        .info-widget .item.Editable .edit-button:before {
            font-family: 'Glyphicons Halflings';
            content: "\270f";
            color: #ffffff;
            position: absolute;
            top: 50%;
            margin-top: -9px;
            font-size: 18px;
            width: 100%;
            text-align: center;
        }

    .info-widget .item.Editable:hover .edit-button {
        display: block;
    }
    

#accounts {
    margin: 0;
    background: #ffffff;
}

    #accounts .account a span {
        color: #007b88;
    }

    #accounts .account-odd {
        background: rgba(0,123,136,0.1);
    }
    #accounts .account-even {
        background: #ffffff;
    }
    #accounts .account-header {
        background: rgba(0,179,188,0.8);
        color:#ffffff;
        font-weight:bold;
        padding:10px 15px;
    }

    #accounts .account-ended, #account-list .account-ended {
        color: #9a9a9a !important;
    }
        #accounts .account-ended a, #account-list .account-ended a {
            color: #9a9a9a !important;
        }
    
    #accounts li .row:first-child {
        padding-top: 8px;
        padding-bottom: 8px;
        cursor: pointer;
    }

            #accounts li .row:first-child div:nth-child(1) {
                margin-left: 15px;
            }

                #accounts li .row:first-child div:nth-child(1) small {
                    display: block;
                }

            #accounts li .row:first-child div:nth-child(2) {
                margin-right: 15px;
                line-height: 40px;
            }

    #accounts .account .account_links {
        display: none;
        border-top: 1px solid #333333;
    }

        #accounts .account .account_links li {
            background-color: transparent;
            padding-top: 2px;
            padding-bottom: 2px;
        }

    #accounts .table-striped{
        margin:0;
    }
        #accounts .table-striped tbody {
            border: 0;
        }
            #accounts .table-striped tbody tr {
                background-color:transparent;
            }
                #accounts .table-striped tbody tr td {
                    padding: 0;
                    line-height: normal;
                }
                    #accounts .table-striped tbody tr td:last-child {
                        padding-right: 15px;
                    }



.loading_modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.8);
    cursor: progress;
}

    .loading_modal .loading {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -12px;
        margin-left: -12px;
        z-index: 99999;
        font-size: 1.714em;
    }
    .loading_modal .loading_text {
        font-size: 16px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        margin-top: 24px;
        z-index: 99999;
    }

/*
    Tables
*/
.table > tbody {
    border-top: 1px solid #b1b1b1;
    border-bottom: 1px solid #b1b1b1;
}
    .table > thead > tr > th, .table > tbody > tr > td {
        color: #57555b;
        font-size: 1.071em;
        line-height: 20px;
        vertical-align: middle;
        padding: 16px 15px;
        border: 0 none;
    }
    .table > tbody > tr > td.col-Desc {
        word-break:break-word;
    }
    .table > tbody > tr:nth-child(even) {
        background: white;
    }
.table > thead > tr > th {
    font-weight: 600;
    border-bottom: none;
}



/*
    Buttons
*/
.btn-ph-blue {
    color: #fff !important;
    background-color: #00b3bc !important;
    border-color: #00b3bc !important;
}
    .btn-ph-blue:hover {
        background-color: #007b88 !important;
        border-color: #007b88 !important;
    }
.btn-ph-green {
    color: #fff !important;
    background-color: #95c11f !important;
    border-color: #95c11f !important;
}
    .btn-ph-green:hover {
        background-color: #569204 !important;
        border-color: #569204 !important;
    }
.btn-ph-yellow {
    color: #fff !important;
    background-color: #fbba00 !important;
    border-color: #fbba00 !important;
}
    .btn-ph-yellow:hover {
        background-color: #eea400 !important;
        border-color: #eea400 !important;
    }
.btn-ph-orange {
    color: #fff !important;
    background-color: #ef7d00 !important;
    border-color: #ef7d00 !important;
}
    .btn-ph-orange:hover {
        background-color: #e95a00 !important;
        border-color: #e95a00 !important;
    }
.btn-ph-magenta {
    color: #fff !important;
    background-color: #e83273 !important;
    border-color: #e83273 !important;
}
    .btn-ph-magenta:hover {
        background-color: #d30934 !important;
        border-color: #d30934 !important;
    }
/*
    PH Colors
*/

.text-ph-blue {
    color: #00b3bc !important;
}
.text-ph-green {
    color: #95c11f !important;
}
.text-ph-yellow {
    color: #fbba00 !important;
}
.text-ph-orange {
    color: #ef7d00 !important;
}
.text-ph-magenta {
    color: #e83273 !important;
}
.text-ph-blue-base:hover, .text-ph-blue-base.active {
    color: #00b3bc !important;
}

.text-ph-green-base:hover, .text-ph-green-base.active {
    color: #95c11f !important;
}

.text-ph-yellow-base:hover, .text-ph-yellow-base.active {
    color: #fbba00 !important;
}

.text-ph-orange-base:hover, .text-ph-orange-base.active {
    color: #ef7d00 !important;
}

.text-ph-magenta-base:hover, .text-ph-magenta-base.active {
    color: #e83273 !important;
}
/*
    Panel Heading
*/
.panel-heading-ph-blue {
    color: #fff !important;
    background-color: #00b3bc !important;
    border-color: #00b3bc !important;
}

.panel-heading-ph-green {
    color: #fff !important;
    background-color: #95c11f !important;
    border-color: #95c11f !important;
}


.panel-heading-ph-yellow {
    color: #fff !important;
    background-color: #fbba00 !important;
    border-color: #fbba00 !important;
}


.panel-heading-ph-orange {
    color: #fff !important;
    background-color: #ef7d00 !important;
    border-color: #ef7d00 !important;
}


.panel-heading-ph-magenta {
    color: #fff !important;
    background-color: #e83273 !important;
    border-color: #e83273 !important;
}

/*
    Alerts
*/
.alert-info {
    color: #ffffff !important;
    background-color: #00b3bc !important;
    border-color: #007b88 !important;
}

.alert-yellow {
    color: #ffffff !important;
    background-color: #fbba00 !important;
    border-color: #fbba00 !important;
}



/*
    Survey
*/
.survey-page-container {
    display: none;
    padding:0 15px;
}
.survey-question {
    border-bottom: 1px dotted #333333;
    padding: 20px 0;
    margin-bottom: 5px;
}

    .survey-question:last-child {
        border: 0 none;
        margin-bottom: 0px;
    }

    .survey-question.no-border {
        border: 0 none;
        margin-bottom: -30px;
    }

.survey-thank-you {
    display: none;
    border: 0 none;
}
.modal-body .active {
    display: block;
}

.modal-dialog h3{
    font-size:18px;
    display:inline-block;
    width:100%;
    line-height:20px;
    height:40px;
    margin:0px;
}
    .modal-dialog h3 .vertical-center small {
        line-height: 40px;
        height: 40px;
        font-weight:700;
        font-size:14px;
    }
.modal-dialog .container {
    padding: 0;
}
    .modal-dialog .container .survey-answer-row {
        border-bottom: 1px solid #f1f1f1;
        padding: 10px 0;
    }
        .modal-dialog .container .survey-answer-row:hover {
            background-color: rgba(0, 179, 189, 0.02);
        }
    .modal-dialog .container .switch {
        margin: 0;
        float: right;
    }

@media screen and (max-width: 568px) {
    .modal-dialog h3{
        height:auto !important;
    }
}

/*
    Repairs
*/
#tenants-specify-email-container {
    display: none;
}
#tenants-specify-telephone-container{
    display:none;
}


#repairs-request-step-1, 
#repairs-request-step-2-1,
#repairs-request-step-2-2,
#repairs-request-step-2-3,
#repairs-request-step-2-4, 
#repairs-request-step-3 {
    display:none;
}

    #repairs-request-step-2-1 .col a,
    #repairs-request-step-2-2 .col a {
        cursor: pointer;
        display: block;
        width: 89px;
        height: 89px;
        background-position: center left;
    }
        #repairs-request-step-2-1 .col a:hover, 
        #repairs-request-step-2-2 .col a:hover {
            background-position: center right;
        }

    /*
        area 1
    */
    #repairs-request-step-2-1 .col[data-area='1'] a {
        background-image: url('Images/area-1.png');
    }
    #repairs-request-step-2-2 .col[data-area="1"][data-item="1"] a {
        background-image: url('Images/area-1-item-1.png');
    }
    #repairs-request-step-2-2 .col[data-area='1'][data-item='2'] a {
        background-image: url('Images/area-1-item-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='1'][data-item='3'] a {
        background-image: url('Images/area-1-item-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='1'][data-item='4'] a {
        background-image: url('Images/area-1-item-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='1'][data-item='5'] a {
        background-image: url('Images/area-1-item-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='1'][data-item='6'] a {
        background-image: url('Images/area-1-item-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='1'][data-item='7'] a {
        background-image: url('Images/area-1-item-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='1'][data-item='8'] a {
        background-image: url('Images/area-1-item-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='1'][data-item='9'] a {
        background-image: url('Images/area-1-item-9.png');
    }
    /*
        area 2
    */
    #repairs-request-step-2-1 .col[data-area='2'] a {
        background-image: url('Images/area-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='2'][data-item='1'] a {
        background-image: url('Images/area-2-item-1.png');
    }
    #repairs-request-step-2-2 .col[data-area='2'][data-item='2'] a {
        background-image: url('Images/area-2-item-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='2'][data-item='3'] a {
        background-image: url('Images/area-2-item-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='2'][data-item='4'] a {
        background-image: url('Images/area-2-item-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='2'][data-item='5'] a {
        background-image: url('Images/area-2-item-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='2'][data-item='6'] a {
        background-image: url('Images/area-2-item-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='2'][data-item='7'] a {
        background-image: url('Images/area-2-item-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='2'][data-item='8'] a {
        background-image: url('Images/area-2-item-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='2'][data-item='9'] a {
        background-image: url('Images/area-2-item-9.png');
    }
    /*
        area 3
    */
    #repairs-request-step-2-1 .col[data-area='3'] a {
        background-image: url('Images/area-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='3'][data-item='1'] a {
        background-image: url('Images/area-3-item-1.png');
    }
    #repairs-request-step-2-2 .col[data-area='3'][data-item='2'] a {
        background-image: url('Images/area-3-item-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='3'][data-item='3'] a {
        background-image: url('Images/area-3-item-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='3'][data-item='4'] a {
        background-image: url('Images/area-3-item-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='3'][data-item='5'] a {
        background-image: url('Images/area-3-item-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='3'][data-item='6'] a {
        background-image: url('Images/area-3-item-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='3'][data-item='7'] a {
        background-image: url('Images/area-3-item-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='3'][data-item='8'] a {
        background-image: url('Images/area-3-item-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='3'][data-item='9'] a {
        background-image: url('Images/area-3-item-9.png');
    }
    /*
        area 4
    */
    #repairs-request-step-2-1 .col[data-area='4'] a {
        background-image: url('Images/area-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='4'][data-item='1'] a {
        background-image: url('Images/area-4-item-1.png');
    }
    #repairs-request-step-2-2 .col[data-area='4'][data-item='2'] a {
        background-image: url('Images/area-4-item-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='4'][data-item='3'] a {
        background-image: url('Images/area-4-item-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='4'][data-item='4'] a {
        background-image: url('Images/area-4-item-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='4'][data-item='5'] a {
        background-image: url('Images/area-4-item-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='4'][data-item='6'] a {
        background-image: url('Images/area-4-item-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='4'][data-item='7'] a {
        background-image: url('Images/area-4-item-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='4'][data-item='8'] a {
        background-image: url('Images/area-4-item-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='4'][data-item='9'] a {
        background-image: url('Images/area-4-item-9.png');
    }
    /*
        area 5
    */
    #repairs-request-step-2-1 .col[data-area='5'] a {
        background-image: url('Images/area-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='5'][data-item='1'] a {
        background-image: url('Images/area-5-item-1.png');
    }
    #repairs-request-step-2-2 .col[data-area='5'][data-item='2'] a {
        background-image: url('Images/area-5-item-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='5'][data-item='3'] a {
        background-image: url('Images/area-5-item-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='5'][data-item='4'] a {
        background-image: url('Images/area-5-item-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='5'][data-item='5'] a {
        background-image: url('Images/area-5-item-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='5'][data-item='6'] a {
        background-image: url('Images/area-5-item-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='5'][data-item='7'] a {
        background-image: url('Images/area-5-item-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='5'][data-item='8'] a {
        background-image: url('Images/area-5-item-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='5'][data-item='9'] a {
        background-image: url('Images/area-5-item-9.png');
    }
    /*
        area 6
    */
    #repairs-request-step-2-1 .col[data-area='6'] a {
        background-image: url('Images/area-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='6'][data-item='1'] a {
        background-image: url('Images/area-6-item-1.png');
    }
    #repairs-request-step-2-2 .col[data-area='6'][data-item='2'] a {
        background-image: url('Images/area-6-item-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='6'][data-item='3'] a {
        background-image: url('Images/area-6-item-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='6'][data-item='4'] a {
        background-image: url('Images/area-6-item-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='6'][data-item='5'] a {
        background-image: url('Images/area-6-item-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='6'][data-item='6'] a {
        background-image: url('Images/area-6-item-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='6'][data-item='7'] a {
        background-image: url('Images/area-6-item-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='6'][data-item='8'] a {
        background-image: url('Images/area-6-item-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='6'][data-item='9'] a {
        background-image: url('Images/area-6-item-9.png');
    }
    /*
        area 7
    */
    #repairs-request-step-2-1 .col[data-area='7'] a {
        background-image: url('Images/area-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='7'][data-item='1'] a {
        background-image: url('Images/area-7-item-1.png');
    }
    #repairs-request-step-2-2 .col[data-area='7'][data-item='2'] a {
        background-image: url('Images/area-7-item-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='7'][data-item='3'] a {
        background-image: url('Images/area-7-item-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='7'][data-item='4'] a {
        background-image: url('Images/area-7-item-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='7'][data-item='5'] a {
        background-image: url('Images/area-7-item-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='7'][data-item='6'] a {
        background-image: url('Images/area-7-item-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='7'][data-item='7'] a {
        background-image: url('Images/area-7-item-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='7'][data-item='8'] a {
        background-image: url('Images/area-7-item-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='7'][data-item='9'] a {
        background-image: url('Images/area-7-item-9.png');
    }
    /*
        area 8
    */
    #repairs-request-step-2-1 .col[data-area='8'] a {
        background-image: url('Images/area-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='8'][data-item='1'] a {
        background-image: url('Images/area-8-item-1.png');
    }
    #repairs-request-step-2-2 .col[data-area='8'][data-item='2'] a {
        background-image: url('Images/area-8-item-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='8'][data-item='3'] a {
        background-image: url('Images/area-8-item-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='8'][data-item='4'] a {
        background-image: url('Images/area-8-item-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='8'][data-item='5'] a {
        background-image: url('Images/area-8-item-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='8'][data-item='6'] a {
        background-image: url('Images/area-8-item-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='8'][data-item='7'] a {
        background-image: url('Images/area-8-item-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='8'][data-item='8'] a {
        background-image: url('Images/area-8-item-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='8'][data-item='9'] a {
        background-image: url('Images/area-8-item-9.png');
    }
    /*
        area 9
    */
    #repairs-request-step-2-1 .col[data-area='9'] a {
        background-image: url('Images/area-9.png');
    }
    #repairs-request-step-2-2 .col[data-area='9'][data-item='1'] a {
        background-image: url('Images/area-9-item-1.png');
    }
    #repairs-request-step-2-2 .col[data-area='9'][data-item='2'] a {
        background-image: url('Images/area-9-item-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='9'][data-item='3'] a {
        background-image: url('Images/area-9-item-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='9'][data-item='4'] a {
        background-image: url('Images/area-9-item-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='9'][data-item='5'] a {
        background-image: url('Images/area-9-item-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='9'][data-item='6'] a {
        background-image: url('Images/area-9-item-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='9'][data-item='7'] a {
        background-image: url('Images/area-9-item-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='9'][data-item='8'] a {
        background-image: url('Images/area-9-item-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='9'][data-item='9'] a {
        background-image: url('Images/area-9-item-9.png');
    }
    /*
        area 10
    */
    #repairs-request-step-2-1 .col[data-area='10'] a {
        background-image: url('Images/area-10.png');
    }
    #repairs-request-step-2-2 .col[data-area='10'][data-item='1'] a {
        background-image: url('Images/area-10-item-1.png');
    }
    #repairs-request-step-2-2 .col[data-area='10'][data-item='2'] a {
        background-image: url('Images/area-10-item-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='10'][data-item='3'] a {
        background-image: url('Images/area-10-item-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='10'][data-item='4'] a {
        background-image: url('Images/area-10-item-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='10'][data-item='5'] a {
        background-image: url('Images/area-10-item-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='10'][data-item='6'] a {
        background-image: url('Images/area-10-item-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='10'][data-item='7'] a {
        background-image: url('Images/area-10-item-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='10'][data-item='8'] a {
        background-image: url('Images/area-10-item-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='10'][data-item='9'] a {
        background-image: url('Images/area-10-item-9.png');
    }
    /*
        area 11
    */
    #repairs-request-step-2-1 .col[data-area='11'] a {
        background-image: url('Images/area-11.png');
    }
    #repairs-request-step-2-2 .col[data-area='11'][data-item='1'] a {
        background-image: url('Images/area-11-item-1.png');
    }
    #repairs-request-step-2-2 .col[data-area='11'][data-item='2'] a {
        background-image: url('Images/area-11-item-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='11'][data-item='3'] a {
        background-image: url('Images/area-11-item-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='11'][data-item='4'] a {
        background-image: url('Images/area-11-item-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='11'][data-item='5'] a {
        background-image: url('Images/area-11-item-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='11'][data-item='6'] a {
        background-image: url('Images/area-11-item-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='11'][data-item='7'] a {
        background-image: url('Images/area-11-item-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='11'][data-item='8'] a {
        background-image: url('Images/area-11-item-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='11'][data-item='9'] a {
        background-image: url('Images/area-11-item-9.png');
    }
    /*
        area 12
    */
    #repairs-request-step-2-1 .col[data-area='12'] a {
        background-image: url('Images/area-12.png');
    }
    #repairs-request-step-2-2 .col[data-area='12'][data-item='1'] a {
        background-image: url('Images/area-12-item-1.png');
    }
    #repairs-request-step-2-2 .col[data-area='12'][data-item='2'] a {
        background-image: url('Images/area-12-item-2.png');
    }
    #repairs-request-step-2-2 .col[data-area='12'][data-item='3'] a {
        background-image: url('Images/area-12-item-3.png');
    }
    #repairs-request-step-2-2 .col[data-area='12'][data-item='4'] a {
        background-image: url('Images/area-12-item-4.png');
    }
    #repairs-request-step-2-2 .col[data-area='12'][data-item='5'] a {
        background-image: url('Images/area-12-item-5.png');
    }
    #repairs-request-step-2-2 .col[data-area='12'][data-item='6'] a {
        background-image: url('Images/area-12-item-6.png');
    }
    #repairs-request-step-2-2 .col[data-area='12'][data-item='7'] a {
        background-image: url('Images/area-12-item-7.png');
    }
    #repairs-request-step-2-2 .col[data-area='12'][data-item='8'] a {
        background-image: url('Images/area-12-item-8.png');
    }
    #repairs-request-step-2-2 .col[data-area='12'][data-item='9'] a {
        background-image: url('Images/area-12-item-9.png');
    }

/*
    Register
*/
#register-validate{
    display:none;
}
#register-validate-fail{
    display:none;
}
#register-create-user{
    display:none;
}
#register-confirmation{
    display:none;
}
#register-confirmation-fail{
    display:none;
}

.tooltip-col {
    padding:0;
}
.tooltip-col i{
    font-size:25px;
    line-height:32px;
}
.tooltip-col .tooltip-inner {
    min-width: 350px;
    font-size:18px;
    background:#007b88;
}


/* Service Charge Breakdown
****************************************************************/

.Service-Charge-BreakDown{
    cursor:pointer;
}
.Service-Charge-BreakDown td{
    position:relative !important;
}
.Service-Charge-BreakDown .toggle-button{
    position:absolute;
    top:0;
    right:20px;
    line-height:52px;
    display:block;
}
.Service-Charge-BreakDown-details{
    width:100%;
    margin:0px;
}
.Service-Charge-BreakDown-details tr{
    border-bottom:1px dotted black;
}
.Service-Charge-BreakDown-details tr td{
    padding:5px 15px !important;
    margin:0px;
    list-style-type:none;
    width:100%;
}
.Service-Charge-BreakDown-details tr td:nth-child(2){
    width:50px;
}

.service-charge-details td {
    padding:10px 15px !important;
}
#servicecharges-transactions-table .service-charge-details.first-row td {
    border-top:1px solid #333333 !important;
}
#servicecharges-transactions-table .service-charge-details.last-row td {
    border-bottom:1px solid #333333 !important;
}




.glyphicon-refresh-animate {
    -webkit-animation: spin .7s infinite linear;
    -moz-animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -o-animation: spin .7s infinite linear;
    animation: spin .7s infinite linear;
}
@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}
@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
    }
}
@-o-keyframes spin {
    from {
        -o-transform rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

@media screen and (max-width: 1226px) {
    .main-container {
        background: #efefef url("/_Assets/Images/back.svg") no-repeat center bottom/100% calc((100vw) * 0.07);
    }
    
    .top-font-size {
        display: none !important;
    }
    .mobile-font-size {
        display: inline-block !important;
    }
    .transaction-text ul {
        margin:0;
        padding:0;
    }
        .transaction-text ul li {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

    .secondary-menu .navbar-header .navbar-toggle {
        color:#ffffff;
    }
        .secondary-menu .navbar-header .navbar-toggle:after {
            content: 'Menu';
            position: absolute;
            top: 5px;
            left: 39px;
            font-size: 16px;
            font-weight: 600;
        }

        .secondary-menu .navbar-header .navbar-toggle[aria-expanded=true] {
            color: #00b3bc;
            background: url('/_Assets/Images/Icons/icon-menu-close.png') no-repeat 100% 50%, url('/_Assets/Images/Icons/icon-menu-close1.png') no-repeat 100% 50%;
        }
        .secondary-menu .navbar-header .navbar-toggle b {
            width: 14px;
            height: 16px;
            display: block;
        }

    header .logo .logo_url img {
        max-width: 214px;
    }

    #main-menu, .region-header{
        display:none !important;
    }
    header .auth-block {
        bottom:0;
        padding:10px 0;
    }
        header .auth-block a {
            font-size: 16px !important;
            font-weight:bold;
            margin:0 15px;
        }
            header .auth-block a span {
                margin-right: 15px;
            }
    #logout-link {
        margin-left: 15px;
    }

    

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
        padding:0 !important;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: left !important;
        margin: 7.5px 0 0 !important;
        width:100%;
    }
    .navbar-nav>li {
        float: none;
        display:block !important;
        width:100%;
    }
        .navbar-nav > li > a {
            width: 100% !important;
            font-size: 1.286em !important;
            font-weight: 600 !important;
            line-height: 30px !important;
            padding: 0 0 0 0 !important;
            text-align: left !important;
            border-top: none !important;
            text-transform: none !important;

            background:url('/_Assets/Images/arrow_big_white.svg') no-repeat 100% 50%;
            background-size: 16px;
        }
        .navbar-nav > li:last-child {
            padding-bottom: 15px !important;
        }

    .collapse.in{
        display:block !important;
    }
        
}

@media screen and (max-width: 359px) {

    header .auth-block a {
    font-size: 12px !important;
}
}
@media screen and (max-width: 568px) {

    
}
@media screen and (max-width: 768px) {
   

    #account-list {
        margin: 10px 0;
    }

    #alert-severity-3-container {
        margin:15px 10px;
    }

    .main-wrapper {
        padding:0;
    }
    .main-container {
        padding: 0 0 89px 0;
    }

    .request-button .icon-100 {
        font-size: 8.5vw;
    }

    .request-sub-button .icon-100 {
        font-size: 8.5vw;
    }

    
    
    .secondary-menu .navbar-nav {
        display: inline-block;
    }

        .secondary-menu .navbar-nav li {
            display: inline-block;
            padding: 0;
            width: 100%;
        }


    .transaction {
        margin: 0;
        padding: 15px 0;
        background-color: #ffffff;
        border-top: 1px solid #e2e2e2;
        display: table;
        width: 100%;
    }

        .transaction:first-child {
            border-top: 0 none;
        }

        .transaction:nth-child(2n) {
            background-color: transparent;
        }

        .transaction strong {
            font-size: 1.4em;
        }

        .transaction small {
            line-height: 25px;
        }

        .transaction i {
            font-size: 1.071em;
        }

        .transaction .transaction-left,
        .transaction .transaction-right {
            display: table-cell;
            vertical-align: middle;
        }

        .transaction .transaction-right {
            text-align: center;
            padding-left: 0;
            float: none;
        }

        .transaction .transaction-left {
            padding-right: 0;
        }

        .transaction.forms{
            
        }
        .transaction.forms:nth-child(2n) {
            background-color: #efefef !important;
        }

    #available-forms .panel-body{
        padding-left: 0;
        padding-right:0;
    }
    #available-forms .panel-body .row .col {
        padding-left:20px;
        padding-right:20px;
    }

    #complete-forms .panel-body {
        padding-left: 0;
        padding-right: 0;
    }

        #complete-forms .panel-body .row .col {
            padding-left: 20px;
            padding-right: 20px;
        }

    .pagination {
        display: table;
        width: 100%;
    }

        .pagination > li {
            display: table-cell;
            width: auto;
        }

            .pagination > li:first-child,
            .pagination > li:last-child {
                width: 90px;
            }

            .pagination > li > a {
                text-align: center;
                width: 100%;
                padding: 6px 0;
                cursor:pointer;
            }

    #footer-menu {
        font-size: 0.857em;
        margin: 25px 0;
        width: auto;
        padding: 0;
    }

        #footer-menu li {
            padding: 0 5px;
        }

    .logo-bottom img {
        height: 28px;
    }

    footer #footer-top {
        margin-bottom: 0;
    }

    footer .column {
        border: 0 none;
        width: 100%;
        height: auto;
    }

        footer .column .content {
            padding: 15px 8px;
        }

    header .auth-block p {
        font-size: 0.657em;
    }

    footer .column p, footer .column span, footer .column a {
        text-align: center;
    }

    footer .column h2 {
        text-align: center;
    }

    .summary {
        margin-top:20px;
    }
    .summary:first-child {
        margin-top:0;
    }

    header .auth-block a {
        font-size: 12px !important;
    }

    .dropdown, .dropdown .btn{
        width:100%;
    }
}

/*
    Payment Modal
*/
#sage-pay-modal iframe {
    max-height: 800px;
    width: 100%;
}

#sage-pay-modal.address iframe {
    display: none !important;
}

#sage-pay-modal.address .btn-close, #sage-pay-modal.address .btn-continue {
    display: inline-block !important;
}

#sage-pay-modal.sage iframe {
    height: 800px;
}

#sage-pay-modal.sage form,
#sage-pay-modal.sage .modal-footer,
#sage-pay-modal.sage .modal-header h4,
#sage-pay-modal.success form,
#sage-pay-modal.failed form {
    display: none;
}

#sage-pay-modal.success iframe {
    height: 400px;
}

#sage-pay-modal.success .btn-close {
    display: inline-block !important;
}

#sage-pay-modal.failed iframe {
    height: 300px;
}

#sage-pay-modal.failed .contact-us,
#sage-pay-modal.failed .btn-close {
    display: inline-block !important;
}


/*
    Payment Basket
*/
#payment-basket {
    margin-bottom: 30px;
}
#payment-basket .panel {
    border: 0 none;
    margin: 0;
}

    #payment-basket .panel .panel-body {
        padding: 0;
    }

        #payment-basket .panel .panel-body li {
            display: inline-block;
            width: 100%;
            float: left;
            border-top: 0 none;
            border-bottom: 0 none;
        }

#payment-basket * {
    border-radius: 0 !important;
}

#payment-basket i {
    margin-right: 10px;
}

#payment-basket .btn {
    padding-left: 15px;
}

    #payment-basket .basket-item {
        max-width: 160px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

#payment-basket .or-text {
    font-size: 20px;
    padding: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.btn-unpaid {
    position: relative !important;
    padding-left: 28px;
}
    .btn-unpaid i {
        position: absolute;
        top: 0;
        left: 8px;
        line-height: 30px;
    }

@media (max-width: 768px) {
    #payment-Accounts .item:nth-child(odd) {
        background: #ffffff;
    }
    #payment-Accounts .item:nth-child(even) {
        background: #efefef;
    }
}
