﻿#staff-header {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    height: 50px;
}

.staff-main-content {
    position:absolute;
    left:0;
    right:0;
    top:50px;
    bottom:0;
}

.staff-panel {
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
    .staff-panel.staff-panel-search {
        padding: 25px 50px;
    }
@media only screen and (max-width: 767px) {
    .staff-panel.staff-panel-search {
        padding: 25px 0px;
    }
    .user-search-panel {
        display:table-row;
    }
    .user-search-panel .dropdown-menu {
        width:100%;
    }

    .user-filter{
        display:inline-block;
        width:100%;
    }
        .user-filter .user-search-panel {
            display: inline-block;
            width: 100%;
        }
            .user-filter .user-search-panel button {
                display: inline-block;
                width: 100%;
                border-radius: 0;
                margin-bottom: 10px;
            }
            .user-filter .user-search-panel .dropdown-menu {
                z-index:999999;
            }
    
    .user-filter .bootstrap-tagsinput {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
    }

            .user-filter .input-group-btn{
                display:inline-block;
                width:100%;
            }
                .user-filter .input-group-btn button {
                    display: inline-block;
                    width: 100%;
                    border-radius: 0;
                }
}

    .staff-panel iframe {
        width: 100%;
        height: 100%;
        display:block;
    }

.close-user {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff !important;
}
    .close-user:hover {
        background-color: #c0392b !important;
        border-color: #c0392b;
        color: #ffffff !important;
    }

.btn-staff-load-user {
    cursor:pointer;
}
.navbar-brand {
    padding: 10px 15px;
}
.navbar-brand  img{
    height:30px;
}

#login-panel {
    margin-top: 200px;
}

.navbar {
    border-radius: 0 !important;
    margin: 0px;
    z-index:999;
}
@media only screen and (max-width: 767px) {
    .nav.navbar-nav.navbar-right li {
        display: inline-block !important;
    }

        .nav.navbar-nav li a {
            padding: 0 15px !important;
        }
}
@media only screen and (max-width: 1226px) {
    .nav.navbar-nav.navbar-right li {
        display: inline-block !important;
    }

        .nav.navbar-nav li a {
            padding: 0 15px !important;
        }
}
    .bs-dark.navbar-inverse {
        background-color: #222;
        border-color: #080808;
    }

    .bs-dark .navbar-img {
        padding: 5px 6px !important;
    }

        .bs-dark .navbar-img img {
            width: 40px;
        }

    .bs-dark .dropdown-menu {
        min-width: 200px;
        padding: 5px 0;
        margin: 2px 0 0;
        background-color: #000;
        border: 1px solid rgba(0, 0, 0, 0.7);
        border: 1px solid rgba(0, 0, 0, .15);
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

        .bs-dark .dropdown-menu .divider {
            border: 1px solid rgba(0, 0, 0, 0.8);
        }

        .bs-dark .dropdown-menu > li > a {
            padding: 6px 20px;
            color: rgba(255,255,255,0.80);
        }

            .bs-dark .dropdown-menu > li > a:hover,
            .bs-dark .dropdown-menu > li > a:focus {
                color: rgba(255,255,255,0.70);
                text-decoration: none;
                background-color: transparent;
            }

        .bs-dark .dropdown-menu > .active > a,
        .bs-dark .dropdown-menu > .active > a:hover,
        .bs-dark .dropdown-menu > .active > a:focus {
            color: rgba(255,255,255,0.70);
            text-decoration: none;
            background-color: transparent;
            outline: 0;
        }

    .bs-dark .navbar-form {
        margin: 0;
        margin-top: 5px;
        padding: 8px 0px;
    }

        .bs-dark .navbar-form .search-box {
            border: 0px;
            height: 35px;
            outline: none;
            width: 320px;
            padding-right: 3px;
            padding-left: 15px;
            margin: 4px;
            -webkit-border-radius: 22px;
            -moz-border-radius: 22px;
            border-radius: 22px;
        }

        .bs-dark .navbar-form button {
            border: 0;
            background: none;
            padding: 2px 5px;
            margin-top: 2px;
            position: relative;
            left: -34px;
            margin-bottom: 0;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
        }

    .bs-dark .search-box:focus + button {
        z-index: 3;
    }

    @media (min-width: 768px) {
        .bs-dark .dropdown:hover {
            background-color: #000;
        }

            .bs-dark .dropdown:hover .dropdown-menu {
                display: block;
            }

        .bs-dark .navbar-form {
            padding: 0px;
        }

            .bs-dark .navbar-form .search-box {
                width: 260px;
                height: 32px;
            }
    }
